.footer__section__1 > div {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    font-family: Jost, Arial, Helvetica, sans-serif;
  }
  
  .footer__section__1 h1, h2 {
    color: #37517E;
  }
  
  .container__footer__1, .container__footer__2{
    grid-row-start: 1;
  }
  
  .container__footer__3, .container__footer__4{
    grid-row-start: 2;
  }
  
  .container__footer__1 > div > h1 {
    font-size: 30px;
  }
  
  .container__footer__1 > div > p {
    margin-bottom: 20px;
  }
  
  .container__footer__1 > div, .container__footer__2 > div, .container__footer__3 > div, .container__footer__4 > div {
    padding: 40px 40px 0 40px;
  }
  
  .container__footer__2 > div > ul, .container__footer__3 > div > ul {
    list-style-type: none;
    margin-top: 20px;
  }
  
  .container__footer__2 > div > ul :not(:last-child), .container__footer__3 > div > ul :not(:last-child){
    margin-bottom: 20px;
  }
  
  .container__footer__4 > div > p {
    margin: 20px 0;
  }
  
  .circle {
    height: 36px;
    width: 36px;
    background-color: #47B2E4;
    border-radius: 50%;
    display: inline-block;
  }
  
  .footer__section__2 {
    height: 80px;
    background-color: #37517E;
    display: flex;
      justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    /* gap: 200px; */
  }
  
  .footer__section__2 p {
    color: white;
    font-family: 'Open Sans';
    font-size: 12px;
  }
  
  .footer__section__2 > div span {
    color: #47B2E4;
  }
  
  @media only screen and (min-width: 768px) {
    .hero__section > div {
      flex-wrap: nowrap;
      flex-direction: row;
      padding: 0 50px;
    }
  
    .hero__section > div > div:nth-child(2) {
      max-width: 450px;
    }
  
    .container__hero__1 > h1 {
      text-align: left;
    }
  
    .container__hero__1 > h5 {
      text-align: left;
    }
  
    .container__hero__1 > div {
      justify-content: left;
    }
  
    .footer__section__1 > div {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-template-rows: repeat(1, minmax(0, 1fr));
      gap: 1rem;
      padding: 0 50px;
    }
  
    .container__footer__1{
      grid-row-start: 1;
    }
    .container__footer__2{
      grid-row-start: 1;
    }
    .container__footer__3{
      grid-row-start: 1;
    }
    
    .container__footer__4{
      grid-row-start: 1;
    }
  
    .footer__section__2 {
      gap: 200px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .footer__section__2 {
      gap: 550px;
    }
  }